.table {
    margin-top: 5px;
    overflow: scroll;
    height: 400px;
    color: #6a5d5d;

}

.table tr {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.table td {
    padding: 0.5rem;
}

.table tr:nth-of-type(odd) {
    background-color: #f3f2f8;
}
.__title {
    position: sticky;
}